<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">SLMC System</a>

    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <form class="form-inline ml-auto my-2 my-lg-0">
            <a href="../login.html">
                <button type="button" class="btn btn-toolbar">Sign In</button>
            </a>

            <a href="../register.html">
                <button type="button" class="btn btn-toolbar">Sign Up</button>
            </a>
        </form>
    </div>
</nav>