<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register Page</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Default CSS file -->
    <link rel="stylesheet" href="css/default.css">
</head>

<body ng-app="app" ng-controller="controller">
    <div ng-include="'template/navbar.php'"></div>

    <div class="d-flex h-75">
        <!-- This page is dedicated for dealer registration. -->
        <div class="container my-auto">
            <div class="row justify-content-center align-items-center">
                <div class="col-8">
                    <div class="card shadow">
                        <div class="card-body">
                            <h1 class="display-3">Register</h1>

                            <form name="form" action="login.php" method="POST">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="username">Username</label>
                                                <input type="text" class="form-control" name="username" id="username"
                                                    aria-describedby="usernameHelpId" placeholder="Username" ng-model="dealerID" required>
                                                <small id="usernameHelpId" class="form-text text-muted">Please enter your
                                                    username.</small>
                                            </div>

                                            <div class="form-group">
                                                <label for="password">Password</label>
                                                <input type="password" class="form-control" name="password" id="password"
                                                    placeholder="Password" minlength="8" maxlength="32" ng-model="password" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="repasswd">Confirm Password</label>
                                                <input type="password" class="form-control" name="repasswd" id="repasswd"
                                                    placeholder="Confirm Password" minlength="8" maxlength="32" ng-model="confirm" required>
                                            </div>

                                            <button type="button" class="btn btn-light w-100 mb-3" ng-click="register()">Register</button>

                                            <button type="reset" class="btn btn-danger w-100">Reset</button>
                                        </div>

                                        <div class="col-6 border-left">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input type="text" class="form-control" name="name" id="name"
                                                    aria-describedby="helpId" placeholder="Name" ng-model="name" required>
                                                <small id="helpId" class="form-text text-muted">Your name here.</small>
                                            </div>

                                            <div class="form-group">
                                                <label for="phone">Phone Number</label>
                                                <input type="text" class="form-control" name="phone" id="phone"
                                                    aria-describedby="helpId" placeholder="Phone Number" pattern="^\d{5,15}$" ng-model="phoneNumber" required>
                                                <small id="helpId" class="form-text text-muted">Phone number
                                                    here.</small>
                                            </div>

                                            <div class="form-group">
                                              <label for="address">Address</label>
                                              <textarea class="form-control" name="address" id="address" rows="3" ng-model="address" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- angular js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script>
        var app = angular.module("app", []);
        app.controller("controller", ($scope, $http) => {
            $scope.register = () => {
                if (document.forms.form.reportValidity()){
                    if ($scope.password == $scope.confirm){
                        $http.post(`api/dealer.php?dealerID=${$scope.dealerID}&name=${$scope.name}&password=${$scope.password}&phoneNumber=${$scope.phoneNumber}&address=${$scope.address}`).then(
                            function (response)
                            {
                                document.forms.form.submit();
                            }
                        );
                    }
                }
            }
        });
    </script>
</body>

</html>